
ion-content.custom-background {
    --background: #131312;
}

.back-button {
    position: absolute;
    top: 10px;        // Adjust the top position as needed
    left: 10px;       // Adjust the left position as needed
    z-index: 100;     // To ensure it's above other content
    width: 50px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 229, 180, 0.7);
    
  }

.TheCloth {
    position: absolute;
    left: 140px;
    bottom:270px; 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 700px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
}

.nameitem {
    position: absolute;
    border-radius: 10px;
    left: 190px;
    top: 110px; 
    width: 600px;
    height: 50px;
    background-color: rgba(216, 182, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #131312;
    font-weight: bold;


}

.priceDetails {
    position: absolute;
    right: 150px;
    top: 80px;
    border: 8px solid rgba(216, 182, 119);
    height: 800px;
    width: 700px;
    border-radius: 15px;
    display: grid;
    gap: 5px;
    display: flex;
    flex-direction: column;
}


.slider {
    position: absolute;
    left: 140px;
    bottom: 220px;
    width: 700px;
    height: 40px;
}

ion-range::part(tick) {
    background: #131312;
  }
  
ion-range::part(tick-active) {
background: white;
}

ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background:  rgba(216, 182, 119);
    color: rgb(0, 0, 0);
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }

  ion-range::part(pin)::before {
    content: none;
  }

  
ion-range::part(knob) {
    background:  rgba(216, 182, 119);
  }
  
  ion-range::part(bar) {
    background: rgb(114, 103, 83);
  }
  
  ion-range::part(bar-active) {
    background: rgb(216, 182, 119);
  }

.container {
    display: flex;
    flex-direction: column; /* This makes the child divs stack vertically */
    gap: 50px;
    position:absolute;
    left:875px;
    top:230px
}

.CheckBox {
  width: 50px;
  height: 50px;
  padding: 10px; 
  border: 3px solid rgba(216, 182, 119);
  position: relative;

  .checked {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
  }
}

.FinalButton {
    position:absolute;
    bottom:75px;
    left:290px;
    width: 400px;
    height: 100px;
    background-color: rgb(201, 185, 157);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#131312; 
    font-weight: bold;
    font-size: 50px;

    &.active {
      background-color:  rgb(216, 182, 119); // Active color
      cursor: pointer;
  }
}



