<ion-app>
  
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          
          <!-- auto-hide="false" *ngFor="let p of appPages; let i = index" -->

          <ion-menu-toggle >

              
              <ion-item routerDirection="root" routerLink="home" lines="none" detail="false" routerLinkActive="selected">
                    Home
              </ion-item>
          
              <ion-item routerDirection="root" routerLink="tailors" lines="none" detail="false" routerLinkActive="selected">
                   Tailors
              </ion-item>

              
           
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
 
</ion-app>
