.cardStyle{
  border-radius: 10px;
}

ion-content {
  --background: url('../../../assets/background/bg4.svg') no-repeat center/cover fixed;
}

ion-card{
  --background: #070707;

   
}

ion-item{
  --background: #070707;
}
