



/* ANIMATIONS */
@keyframes floatIn {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes unveilGradient {
  0% {
      top: 0;
      bottom: 100%;
  }
  100% {
      top: 0;
      bottom: 0;
  }
}






/* CENTER ALIGNMENT STYLES */
.initial_gender_selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  ion-grid {
      width: 100%;  // This can be adjusted to fit your needs
      max-width: 950px; // This can also be adjusted
      --ion-grid-row-padding: 10px;  
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center; // For vertical centering
  align-items: center;     // For horizontal centering
  text-align: center;      // For centering inline elements or text
}

/* GENDER SELECTION STYLES */

.cloth-card {
  opacity: 0; /* initially hidden */
  animation: floatIn 0.5s forwards;
}
.BoyGirl {
  /* ... existing styles ... */
  opacity: 0; /* initially hidden */
  animation: floatIn 0.5s forwards;
}




.gender {
  width: 500px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}



.cloth_options {
  /* ... existing styles ... */
  position: relative; /* This allows absolute positioning of child elements relative to this parent */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 229, 180, 0.5); /* This is a black tint, adjust as needed */
  opacity: 0; /* Initially, we want the overlay to be invisible */
  transition: opacity 0.5s 0.5s; /* A half-second transition on opacity, with a half-second delay */
  animation: fadeIn 0.5s forwards;
  animation-delay: 1.2s;
  animation: fadeIn 0.5s forwards;
  opacity: 0;
  z-index: 1;
}

.foggy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.5s 0.5s; /* Similar to the overlay, we control the display using opacity */
  animation: fadeIn 0.5s forwards;
  animation-delay: 1.2s;
  animation: fadeIn 0.5s forwards;
    opacity: 0; 
    font-size: 24px; /* Adjust this value to your preference */
    font-weight: bold;
    z-index: 2;
    color:Black;
}

.cloth_options {
  width: 500px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
}

.cloth_options img {
  width: 100%;       /* Take full width */
  height: 100%;      /* Take full height */
  object-fit: cover; /* This will ensure the image covers the whole card but still maintains its aspect ratio. */
  display: block;  
}

.grid-container {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    
    ion-grid {
        width: 100%;  // This can be adjusted to fit your needs
        max-width: 1700px; // This can also be adjusted
        --ion-grid-row-padding: 10px;  
    }
}

.back-button {
  position: absolute;
  top: 10px;        // Adjust the top position as needed
  left: 10px;       // Adjust the left position as needed
  z-index: 100;     // To ensure it's above other content
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(255, 229, 180, 0.7);
  
}

.BoyGirl  {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 0; 
}

.BoyGirl img {       /* Target the image inside the card */
  width: 100%;       /* Take full width */
  height: 100%;      /* Take full height */
  object-fit: cover; /* This will ensure the image covers the whole card but still maintains its aspect ratio. */
  display: block;    /* Removes any line-height related gaps below the image */
}

.back {
  color:black;
}

.cloth-card {
  transition: transform 0.5s, opacity 0.5s;
}

.foggy-text {
  transition: opacity 0.5s;
}

.foggy-text.hide {
  opacity: 0;
}



