<ion-content >

    <div class="initial_gender_selection" *ngIf="displayedSection === 'initial_gender_selection'" [ngClass]="{'animate-out': animateOut}">
      <ion-grid class="ion-align-items-center ion-justify-content-center">
        <ion-row>
          <ion-col class="center-content" >
            <ion-card class="gender"  (click)="displayClothes('woman') ;updateDisplayedClothes('woman')">
              woman
            </ion-card>
          </ion-col>
          <ion-col class="center-content"  >
            <ion-card class="gender" (click)="displayClothes('man');updateDisplayedClothes('man')">
              man
            </ion-card>
          </ion-col>
          <ion-col class="center-content" >
            <ion-card class="gender"  (click)="isChildSelected = true">
              child
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

    
  <div *ngIf="displayedSection === 'child_selection'" class="selection" [ngClass]="{'animate-out': animateOut}">
    <button (click)="goBack()" class="back-button">
      <ion-icon name="chevron-back-outline" class="back"></ion-icon>
    </button>
      <ion-grid >
        <ion-row>
          <ion-col size="6">
            <ion-card class="BoyGirl" (click)="displayClothes('girl');isChildSelected = false; ;updateDisplayedClothes('girl')">
              <img src="../../../../assets/GenderImages/GirlKid.jpg">
              <div class="overlay"></div>
              <div class="foggy-text">Girls</div>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="BoyGirl" (click)="displayClothes('boy'); isChildSelected = false; ;updateDisplayedClothes('boy')">
              <img src="../../../../assets/GenderImages/boykid.jpg">
              <div class="overlay"></div>
              <div class="foggy-text">Boys</div>
            </ion-card>
          </ion-col>
      </ion-row>
      </ion-grid>
  </div>

  <div class="grid-container" *ngIf="displayedSection === 'grid_container'" [ngClass]="{'animate-out': animateOut}">
    <button (click)="goBack()" class="back-button">
      <ion-icon name="chevron-back-outline" class="back"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let cloth of displayedClothes">
          <ion-card  class="cloth_options cloth-card"  [style.animation-delay]="cloth.animationDelay"  (click)="onCardClick(cloth); ActivateSwiper()">
            <img [src]="cloth.imagePath"/>
            <div class="overlay" [style.animation-delay]="cloth.tintDelay"></div>
            <div class="foggy-text"  [style.animation-delay]="cloth.textDelay">{{cloth.foggyText}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <div class="main-container" *ngIf="displayedSection === 'swiper'" [ngClass]="{'animate-out': animateOut}">


    <button (click)="goBack()" class="back-button">
      <ion-icon name="chevron-back-outline" class="back"></ion-icon>
    </button>



      <div class="cards-container">
        <ng-container *ngFor="let cloth of selectedGenderClothes; let i = index">
          <div class="card" *ngIf="i % 2 === 0" [ngClass]="{'selected': cloth.type  == selectedClothId}" (click)="CardClick(cloth)">
            <div class="card-content">
              {{ cloth.foggyText }}
            </div>
          </div>
        </ng-container>
      </div>
      


    <div class="swiper-wrapper"  >
      <div class="middle-box">
        <div class="left-content">
          <swiper class="TheActualSwiper"  [effect]="'cards'"  [grabCursor]="true" *ngIf="showSwiper" (slideNextTransitionStart)="onSlideNext()" (slidePrevTransitionStart)="onSlidePrev()" >

            <ng-template swiperSlide *ngFor="let cloth of SwiperClothes" >
              <img [src]="cloth.imagePath" alt="{{ cloth.foggyText }}" class="cloth-image">
            </ng-template>
          </swiper>
          <div class="button-container">
          <button (click)="navigateToFinalOrder(currentIndex)" class="custom-button">Select</button>
        </div>
      </div>
          <div class="ModelDetails">
            <div class="DisplayedModelName"> {{SwiperClothes[currentIndex]?.foggyText}} </div>
            <div class="DisplayedPrice"> {{SwiperClothes[currentIndex]?.price}} </div>
            <div class="DisplayedText"> Model Base Price: </div>
            <div class="gallery" (click)="setOpen(true)"> 
              <img src="../../../../assets/icon/gallery.svg" alt="">
              <div class="overlay2" ></div>
            </div>
            <div class="ad"> Our Products Worn by You: </div>
          </div>
      </div>
    </div>  

    <div class="cards-container">
      <ng-container *ngFor="let cloth of selectedGenderClothes; let i = index">
        <div class="card" *ngIf="i % 2 !== 0" [ngClass]="{'selected': cloth.type  == selectedClothId}" (click)="CardClick(cloth)">
          <div class="card-content">
            {{ cloth.foggyText }}
          </div>
        </div>
      </ng-container>
    </div>

  </div>

  <ion-modal [isOpen]="isModalOpen" class="SwiperModal " >
    <ng-template>
      <header>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </header>
        <content>
          <swiper  [effect]="'coverflow'" grab-cursor="true" centered-slides="true" class="gay2" 
          [spaceBetween]="5" [slidesPerView]="1.1">
  
            <ng-template swiperSlide >
              <div class="gay"> a </div>  
            </ng-template>
            
            <ng-template swiperSlide >
              <div class="gay"> a </div>  
            </ng-template>
        
            
            <ng-template swiperSlide >
              <div class="gay"> a </div>  
            </ng-template>
        
            
            <ng-template swiperSlide >
              <div class="gay"> a </div>  
            </ng-template>
        
        

            
        
        
          </swiper>
        </content>
    </ng-template>
  </ion-modal>


</ion-content>
